- name: Create a jenkins job
  community.general.jenkins_job:
    config: "{{ lookup('template', 'templates/pipeline.xml.j2') }}"
    name: test
    url: http://172.31.13.185:8080
    user: admin
    #password: admin123
    token: 1178c1003c12b84e463a1f5cef8d6cb03e
  loop :
  - { name : 'frontend', token : 'frontend1', url : 'frontend1' }