- name: Create a folder for jenkins job
  community.general.jenkins_job:
    config: "{{ lookup('template', 'templates/folder.xml.j2') }}"
    name: "{{ item.foldername }}"
    url: http://172.31.13.185:8080
    user: admin
    #password: admin123
    token: 1178c1003c12b84e463a1f5cef8d6cb03e
  loop : "{{ folder }}"

- name: Create a multibranch pipeline for jenkins job
  community.general.jenkins_job:
    config: "{{ lookup('template', 'templates/multibranch_pipeline.xml.j2') }}"
    name: "{{ item.foldername }}{{ item.jobname }}"
    url: http://172.31.13.185:8080
    user: admin
    #password: admin123
    token: 1178c1003c12b84e463a1f5cef8d6cb03e
  loop : "{{ pipeline }}"

- name: Create a pipeline for jenkins job
  community.general.jenkins_job:
    config: "{{ lookup('template', 'templates/singlePipeline.xml.j2') }}"
    name: "{{ item.jobname }}"
    url: http://172.31.13.185:8080
    user: admin
    #password: admin123
    token: 1178c1003c12b84e463a1f5cef8d6cb03e
  loop : "{{ singlePipeline }}"
